<div class="cards">
  <div class="hero-card" *ngFor="let hero of heroData">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ hero.heroName | uppercase }}</mat-card-title>
        <mat-card-subtitle class="description-container"
          >{{ hero.description }}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/monkey.png" alt="" />
      <mat-card-content>
        <div class="company-container">
          <span class="mr-1" [innerHTML]="companyName | bold"></span>
          <p>{{ hero.company }}</p>
        </div>
        <div class="can-fly-container">
          <span class="mr-1" [innerHTML]="canFlyInfo | bold"></span>
          <p *ngIf="hero.canFly">Can fly</p>
          <p *ngIf="!hero.canFly">Can't Fly</p>
        </div>
      </mat-card-content>
      <mat-card-actions class="button-actions">
        <button mat-flat-button color="primary" (click)="editHero(hero.id)">
          EDIT
        </button>
        <button mat-flat-button color="warn" (click)="deleteHero(hero.id)">
          DELETE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
